@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-chart-grid: var(--chart-grid);
    --color-chart-axis: var(--chart-axis);
}

:root {
    --chart-grid: #11182715;
    --chart-axis: #11182760;
    --chart-tooltip-bg: #ffffff;
    --chart-tooltip-border: rgba(0, 0, 0, 0.1);
    --chart-tooltip-color: #111827;
}

.dark {
    --chart-grid: #ffffff12;
    --chart-axis: #ffffff60;
    --chart-tooltip-bg: #111827f0;
    --chart-tooltip-border: #ffffff20;
    --chart-tooltip-color: #ffffff;
}